





<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">





</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 pane">
      <article>
        <h1>{{ title }}</h1>
        <blockquote>
          <p>Author: {% for author in authors %}{{ author }}{% endfor %}. <br>{{ publish_date }}.
          </p>
        </blockquote>
        <figure>
          <img src="{{ top_image }}" alt="Image">
        </figure>
        <p>{{ text }}</p>


      </article>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pane" id="sentiment-pane">
      <div class="progress" id="top-bar">
        <div class="progress-bar spectrum1 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum2 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum3 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum4 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum5 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum6 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum7 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum8 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum9 spectrum" role="progressbar" style="width: 10%"></div>
        <div class="progress-bar spectrum10 spectrum" role="progressbar" style="width: 10%"></div>
      </div>
      <div class="container">
        <section id="leaning">
          <h4 style="color: #3300CC;"><strong>analyzing...</strong><br><small>please wait</small></h4>
        </section>
        <hr class="hidden-initially">
        <section id="entities">
          <!-- <h6 class="text-success">&#9650; Hillary Clinton</h6>
          <h6 class="text-success">&#9650; Grand Canyon</h6>
          <h6 class="text-success">&#9650; Idaho</h6>
          <h6 class="text-danger">&#9660; Donald Trump</h6>
          <h6 class="text-danger">&#9660; Sweden</h6>
          <h6 class="text-danger">&#9660; Bitcoin</h6> -->
        </section>
        <hr class="hidden-initially">
        <section id="analysis">
          <h5 style="color: #333;" class="hidden-initially"><small>contains</small><br><strong>mostly analysis</strong></h5>
        </section>
      </div>
      <p></p>
    </div>
  </div>

</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script>
function load(data) {
  var article_data = data[0];

  var ideology = article_data["ideology"];
  var analysis = article_data["analysis"];
  console.log(ideology, analysis)
  var quantized_ideology = Math.round((ideology + 1) * 5) + 1;
  var color = "#00ff00";
  var html_content = "<strong>error...</strong><br><small>something weird happened</small>"
  switch (quantized_ideology) {
    case 1:
      color = "#0000FF";
      html_content = "<strong>extremely</strong><br><small>left-leaning</small>";
      break;
    case 2:
      color = "#1900E5";
      html_content = "<strong>strongly</strong><br><small>left-leaning</small>";
      break;
    case 3:
      color = "#3300CC";
      html_content = "<strong>considerably</strong><br><small>left-leaning</small>";
      break;
    case 4:
      color = "#4C00B2";
      html_content = "<strong>somewhat</strong><br><small>left-leaning</small>";
      break;
    case 5:
      color = "#660099";
      html_content = "<strong>neutral</strong><br><small>generally balanced</small>";
      break;
    case 6:
      color = "#7F007F";
      html_content = "<strong>neutral</strong><br><small>generally balanced</small>";
      break;
    case 7:
      color = "#990066";
      html_content = "<strong>somewhat</strong><br><small>right-leaning</small>";
      break;
    case 8:
      color = "#B2004C";
      html_content = "<strong>considerably</strong><br><small>right-leaning</small>";
      break;
    case 9:
      color = "#CC0033";
      html_content = "<strong>strongly</strong><br><small>right-leaning</small>";
      break;
    case 10:
      color = "#E50019";
      html_content = "<strong>extremely</strong><br><small>right-leaning</small>";
      break;
  }

  $("#top-bar .spectrum" + quantized_ideology).addClass("extended-bar-top");
  $("#leaning h4").html(html_content);
  $("#leaning h4").css({
    "color": color
  });

  var quantized_analysis = 1/(1+Math.E**(-1*analysis/20));
  // quantized_analysis = 0.33333;
  // console.log("quantized_analysis", quantized_analysis);
  // quantized_analysis = Math.floor(quantized_analysis*5+0.5)/5+0.1;
  // console.log("quantized_analysis", quantized_analysis);
  var analysis_html = "<small>degree of analysis</small><br><strong>unknown</strong>";
  if(quantized_analysis <= 0.1) {
    analysis_html = "<small>contains</small><br><strong>little opinion</strong>";
  }
  else if(quantized_analysis <= 0.3) {
    analysis_html = "<small>contains</small><br><strong>minor opinion</strong>";
  }
  else if(quantized_analysis <= 0.5) {
    analysis_html = "<small>contains</small><br><strong>some opinion</strong>";
  }
  else if(quantized_analysis <= 0.7) {
    analysis_html = "<small>contains</small><br><strong>considerable opinion</strong>";
  }
  else {
    analysis_html = "<small>contains</small><br><strong>mostly opinion</strong>";
  }

  $("#analysis h5").html(analysis_html)

  var topics_html = "";

  for (topic in article_data["entities"]) {
    var name = article_data["entities"][topic]['text'];
    var sentiment = article_data["entities"][topic]['sentiment']['score'];
    if (sentiment < 0) {
      topics_html += "<h6 class=\"text-danger\">&#9660; " + name + "</h6>"
    } else {
      topics_html += "<h6 class=\"text-success\">&#9650; " + name + "</h6>"
    }
  }

  $("#entities").html(topics_html);

  $(".hidden-initially").css({
    "display": "inherit"
  });

  console.log(quantized_ideology);
  console.log(article_data);
}

load([{{sentiment_data|safe}}]);
</script>
</body>
</html>
