.pane {
  padding: 50px;
}

article > figure {
    margin: 20px 0;
}

article > blockquote {
    margin: 0px 0;
    color: #666;
    border-left: 3px solid black;
    padding-left: 10px;
}

/* General styling */

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

article > * {
    min-width: 0;
}

article > h1 {
    font-family: Helvetica;
    font-weight: 600;
}

article > p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

article > .aside {
    font-family: Helvetica;
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
}

img {
    width: 100%;
    border-radius: 4px;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}

pre > code {
    padding: 0;
}

figure {
    margin: 0;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}
