.pane {
  padding: 50px;
}

#sentiment-pane {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 30;
  right: 30;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 5px;
  padding-top: 0;
  padding: 0;
  width: 250px;
}

article > figure {
    margin: 20px 0;
}

article > blockquote {
    margin: 0px 0;
    color: #666;
    border-left: 3px solid black;
    padding-left: 10px;
}

/* General styling */

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

article > * {
    min-width: 0;
}

article > h1 {
    font-family: Helvetica;
    font-weight: 600;
}

article > p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

article > .aside {
    font-family: Helvetica;
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
}

img {
    width: 100%;
    border-radius: 4px;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}

pre > code {
    padding: 0;
}

figure {
    margin: 0;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}

#top-bar {
  background-color: #ffffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}

#bottom-bar {
  background-color: #ffffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: -11px;
}

.spectrum {
  height: 5px;
}

.extended-bar-top {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 75%;
}

.extended-bar-bottom {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 75%;
}

.spectrum10 {
  background-color: #E50019;
}

.spectrum9 {
  background-color: #CC0033;
}

.spectrum8 {
  background-color: #B2004C;
}

.spectrum7 {
  background-color: #990066;
}

.spectrum6 {
  background-color: #7F007F;
}

.spectrum5 {
  background-color: #660099;
}

.spectrum4 {
  background-color: #4C00B2;
}

.spectrum3 {
  background-color: #3300CC;
}

.spectrum2 {
  background-color: #1900E5;
}

.spectrum1 {
  background-color: #0000FF;
}

.gray1 {
  background-color: #333;
}

.gray2 {
  background-color: #444;
}

.gray3 {
  background-color: #555;
}

.gray4 {
  background-color: #666;
}

.gray5 {
  background-color: #777;
}

.gray6 {
  background-color: #888;
}

.gray7 {
  background-color: #999;
}

.gray8 {
  background-color: #aaa;
}

.gray9 {
  background-color: #bbb;
}

.gray10 {
  background-color: #ccc;
}

.spectrumTransparent {
  background-color: transparent;
  color: black;
}

.hidden-initially {
  display: none;
}
